body {                                           /* 清楚边距 设置最大最小宽度 */
    margin: 0 auto; 
    max-width: 768px;    
    min-width: 320px;   
}

.setting {                                      /* 设置背景颜色 */
    background: #29bde0;           
}

.header {                                        /* 设置页头 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.header1 {                                      /* 在页头设置个宽度96%的盒子 */
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vote {                                         /* 设置字体颜色和大小 */
    font-size: 20px;
    color: #ffffff;
}
.logo {                                        /* 设置页头左右两侧图标大小 */
    width: 25px;                      
    height: 25px;
}
 
.remind {                                      /* 设置语音框的高度/相对定位/弹性盒子水平垂直居中 */
    height: 50px;
    background: #b9e9f5;  
    display: flex;
    align-items: center;
    position: relative;
}


.play {                                       /* 设置播放器logo大小和位置/绝对定位 */
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    z-index: 99999;
    pointer-events:none;
   
}

.MP3 {                                       /* 设置播放器大小和位置/绝对定位 */
    width: 29px;
    border-radius: 50%;
    height: 29px; 
    position: absolute;
    right: 15px;
    background-color:#b9e9f5;
    opacity:0.1;
   
}
.text {                                      /* 设置语音框字体大小和位置 */
    font-size: 17px;
    padding-left: 24px;
}
.triangle {                                           /* 三角形 */
    width: 0; 
    height: 0;
    margin-left: 34px;
    margin-bottom: -7px;
    margin-top: -1px;
    border-width: 10px 7px;
    border-style: solid;
    border-color:#b9e9f5 transparent transparent transparent;
    position: absolute;
    top: 51px;
}
.text1 {
    font-size: 14px;
    color: #ffffff;
    padding-left: 36px;
}

.game {
display: flex;
flex-wrap: wrap;
padding-bottom: 60px;

}

.space {
    flex-basis: 33.33%;
}

.block {
    margin: 0 auto;
    width: 84px;
   
}

.one {
    height: 64px;
    background: #f5c97b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one span {
    font-size: 15px;
    color: #565656;
}
.two {
    height: 20px;
    background: #83b09a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two span {
    font-size: 12px;
    color: #e0ebe6;
}

.block1 {
    width: 84px;
    height: 19px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.combination {
    width: 84px;
    height: 19px;
    display: none;
   
}

.block:hover .combination {
    display: block;
}

.between {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    z-index: 99999;
    max-width: 768px;
    min-width: 320px;
    width: 100%;
    height: 60px;
    bottom: 0;
    background: #29bde0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    background-color: transparent;
    color:#ffffff;
    font-size: 17px;                                          
    width: 245px;
    height: 43.5px;
    background: #fbb435;
    border: 0;
    
}

