
body {
    max-width: 768px;
    min-width: 320px;
    margin: 0 auto;
}
.box {
    background: #29bde0;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.top {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 25px;
    height: 25px;
}
.vote {
    font-size: 20px;
    color: #ffffff;
}
.remind {
    height: 50px;
    background: #b9e9f5;  
    display: flex;
    align-items: center;
    position: relative;
}


.play {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    z-index: 99999;
    pointer-events:none;
   
}

.MP3 {
    width: 30px;
    height: 30px; 
    position: absolute;
    right: 15px;
}


.text {
    font-size: 17px;
    display: inline-block;
    padding-left: 24px;
}
.triangle {
    width: 0; 
    height: 0;
    margin-left: 34px;
    margin-bottom: -7px;
    margin-top: -1px;
    border-width: 10px 7px;
    border-style: solid;
    border-color:#b9e9f5 transparent transparent transparent;
}
.text1 {
    font-size: 15px;
    color: #ffffff;
    margin-left: 34px;
    margin-top: 8px;
    margin-bottom: 30px;
}
.choice {
    position: relative;
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.choice1 {
    position: relative;
    width: 92%;
    top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.choice2 {
    position: relative;
    width: 92%;
    top: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.choice3 {
    position: relative;
    width: 92%;
    bottom: -132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 103px;
}


.block {
    width: 84px;
    height: 84px;
    border: 3px solid #ffffff;
}
.one {
    width: 84px;
    height: 64px;
    background: #f5c97b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one span {
    font-size: 15px;
    color: #565656;
}
.two {
    width: 84px;
    height: 20px;
    background: #83b09a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.two span{
    font-size: 12px;
    color: #e0ebe6;
}
.combination {
    position: absolute;
    width: 85.5px;
    top: 100px;
    display: none;
}


.block:hover .combination {
    display: block;
}


.footer {
    position: fixed;
    z-index: 99999;
    max-width: 768px;
    min-width: 320px;
    width: 100%;
    height: 60px;
    bottom: 0;
    background: #29bde0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    background-color: transparent;
    color:#ffffff;
    font-size: 17px;                                          
    width: 245px;
    height: 43.5px;
    background: #fbb435;
    border: 0;
    
}
