body {
    margin: 0;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
}
.box {
    background: #eff0f4;
    height: 100vh;
}
.header {
    background-color: #1999dd;
    background-image: linear-gradient(#199ce2, #1ba3ec,#1999dd);
    span {
        color: #fff;
        font-size: 15px;
        line-height: 48px;
    }
    >.block {
        width: 94%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    .magnify {
        font-size: 18px;
    }
}

.number {
    background: #fff;
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 50px;
    >.block1 {
        width:62px;
        height: 24px;
        border-right: 1.5px solid #eff0f4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

   >input {
       border: 0;
       outline: none;
       width: 90%;
       line-height: 40px;
       color: #999;
   }

}
.logo {
    width: 15px;
    height: 22px;
}
.enter {
    background-color: #1999dd;
    background-image: linear-gradient(#199ce2, #1ba3ec,#1999dd);
    margin-top: 34px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}
.hint {
    color: #5fc0cd;
    font-size: 17px;
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}