body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 768px;
}

.wrap {
  background: #f0f0f0;
  padding-bottom: 1%;
}

.wrap > .hot {
  padding: 2%;
  background: #fff;
}

.header {
  width: 100%;
  height: 60px;
  margin-bottom: 1.5%;
  background: #29bde0;
  display: flex;
  align-items: center;
}

.header > img {
  width: 20px;
  height: 30px;
  padding: 2%;
}

.distribution {
  width: 96%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #f0f0f0;
  background: #fff;
}

.role, .word, .amount {
  width: 96%;
  background: #fff;
  margin: 0 auto;
  margin-top: 1%;
  display: flex;
  border: 1px solid #f0f0f0;
}

.role .recompose, .word .recompose, .amount .recompose {
  width: 17px;
  font-size: 13px;
  outline: none;
  border: none;
}

.role > .role-logo, .word > .role-logo, .amount > .role-logo {
  width: 50%;
  padding-top: 2%;
  padding-bottom: 40%;
  display: flex;
  align-items: center;
}

.role > .role-logo img, .word > .role-logo img, .amount > .role-logo img {
  height: 60px;
  padding: 0 5%;
}

.word > .box {
  width: 80%;
  margin: 0 auto;
  padding-top: 2%;
}

.word > .box > .civilian {
  margin-bottom: 5%;
  border-bottom: 1.3px solid #f0f0f0;
  font-size: 17px;
  line-height: 40px;
  color: #d7d7d7;
}

.word > .box > .civilian > .text {
  outline: none;
  border: none;
  color: #fcbd4e;
  font-size: 12px;
  padding-left: 2%;
}

.amount > .number {
  width: 80%;
  margin: 0 auto;
  padding-top: 3.5%;
  padding-bottom: 5%;
  font-size: 15px;
}

.amount > .number .game::-webkit-input-placeholder {
  color: #fcbd4e;
}

.amount > .number > .game {
  width: 34px;
  height: 26px;
  border-radius: 5px;
  font-size: 17px;
  color: #fcbd4e;
  text-align: center;
  outline: none;
  border: none;
  background: #f0f0f0;
}

.amount > .number > .player-color {
  color: #fcbd4e;
  font-size: 12px;
}

.amount > .number > .progress-bar {
  margin-top: 10%;
}

.amount > .number > .progress-bar button {
  width: 21px;
  color: #fcbd4e;
  background: #fff;
  border: 1px solid #f0f0f0;
  outline: none;
}

.amount > .number input[type="range"] {
  width: 76%;
  height: 5px;
  outline: none;
  -webkit-appearance: none;
  background-color: #fcbd4e;
}

.amount > .number input[type="range"]::-webkit-slider-thumb {
  width: 30px;
  height: 20px;
  -webkit-appearance: none;
  border-radius: 5px;
  border: 1px solid #fcbd4e;
  background: #fff;
}

.footer {
  width: 96%;
  background: #fff;
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.footer button {
  width: 100%;
  font-size: 24px;
  color: #fff;
  background: #fcbd4e;
  border: 0;
  line-height: 60px;
  outline: none;
}
