body {
    margin: 0;
}
.box {
    background: #fff;
}
.row {
        width:100%;
        display: flex;
        flex-wrap: wrap;
   }


   @media screen and (min-width: 320px) and (max-width:576px) {
    .col-a-1 {width: 8.33%;}
    .col-a-2 {width: 16.66%;}
    .col-a-3 {width: 25%;}
    .col-a-4 {width: 33.33%;}
    .col-a-5 {width: 41.66%;}
    .col-a-6 {width: 50%;}
    .col-a-7 {width: 58.33%;}
    .col-a-8 {width: 66.66%;}
    .col-a-9 {width: 75%;}
    .col-a-10 {width: 83.33%;}
    .col-a-11 {width: 91.66%;}
    .col-a-12 {width: 100%;}
  }
  
  
  @media  screen and (min-width:576px) and (max-width: 767.98px) {
    .col-b-1 {width: 8.33%;}
    .col-b-2 {width: 16.66%;}
    .col-b-3 {width: 25%;}
    .col-b-4 {width: 33.33%;}
    .col-b-5 {width: 41.66%;}
    .col-b-6 {width: 50%;}
    .col-b-7 {width: 58.33%;}
    .col-b-8 {width: 66.66%;}
    .col-b-9 {width: 75%;}
    .col-b-10 {width: 83.33%;}
    .col-b-11 {width: 91.66%;}
    .col-b-12 {width: 100%;}
  }
  
  
  @media  screen and (min-width:768px) and (max-width:991.98px) {
    .col-c-1 {width: 8.33%;}
    .col-c-2 {width: 16.66%;}
    .col-c-3 {width: 25%;}
    .col-c-4 {width: 33.33%;}
    .col-c-5 {width: 41.66%;}
    .col-c-6 {width: 50%;}
    .col-c-7 {width: 58.33%;}
    .col-c-8 {width: 66.66%;}
    .col-c-9 {width: 75%;}
    .col-c-10 {width: 83.33%;}
    .col-c-11 {width: 91.66%;}
    .col-c-12 {width: 100%;}
  }
  @media  screen and (min-width:992px) and (max-width:1199.98px) {
    .col-d-1 {width: 8.33%;}
    .col-d-2 {width: 16.66%;}
    .col-d-3 {width: 25%;}
    .col-d-4 {width: 33.33%;}
    .col-d-5 {width: 41.66%;}
    .col-d-6 {width: 50%;}
    .col-d-7 {width: 58.33%;}
    .col-d-8 {width: 66.66%;}
    .col-d-9 {width: 75%;}
    .col-d-10 {width: 83.33%;}
    .col-d-11 {width: 91.66%;}
    .col-d-12 {width: 100%;}
  }
  
  @media  screen and (min-width:1200px) and (max-width: 1399.98px) {
    .col-e-1 {width: 8.33%;}
    .col-e-2 {width: 16.66%;}
    .col-e-3 {width: 25%;}
    .col-e-4 {width: 33.33%;}
    .col-e-5 {width: 41.66%;}
    .col-e-6 {width: 50%;}
    .col-e-7 {width: 58.33%;}
    .col-e-8 {width: 66.66%;}
    .col-e-9 {width: 75%;}
    .col-e-10 {width: 83.33%;}
    .col-e-11 {width: 91.66%;}
    .col-e-12 {width: 100%;}
  }
  
  @media  screen and (min-width:1400px) {
    .col-f-1 {width: 8.33%;}
    .col-f-2 {width: 16.66%;}
    .col-f-3 {width: 25%;}
    .col-f-4 {width: 33.33%;}
    .col-f-5 {width: 41.66%;}
    .col-f-6 {width: 50%;}
    .col-f-7 {width: 58.33%;}
    .col-f-8 {width: 66.66%;}
    .col-f-9 {width: 75%;}
    .col-f-10 {width: 83.33%;}
    .col-f-11 {width: 91.66%;}
    .col-f-12 {width: 100%;}
  }


.header {
    width: 76%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.header span {
    font-size: 13px;
    color: #fff;
    line-height: 40px;
}
@media (max-width:576px) {
    .header span {
        font-size: 11px;
        
    }
}

.AN1 {                                     
    border: 0; 
    outline:none;  
    background: #1d7ad9;
    color: #fff;
    font-size: 15px;  
    line-height: 38px; 
}

@media (max-width:576px) {
    .AN1 {
        font-size: 13px;
        
    }
}
.AN1:hover {
    background: #fff;
    color: black;
}

.yt {
    display: flex;
    justify-content: flex-end;
}
@media  screen and (min-width:320.98px) and (max-width: 575.97px) {

    .yt {
        justify-content: flex-start;
    }
    }


.nav {
    background:#f9f9f9;
}

.logo {
    display: flex;
    flex-direction: column;
    color: #1d7ad9;
    padding: 10px 0;
    width: 150px;
}
.huge {
    font-size: 34px;
}
.small {
    font-size: 9px;
   
}

.AN {
    background-color: #fff;                                     
    border-radius: 3px;   
    border: 1px solid #e6e6e6; 
    outline:none;  
    padding: 0 10px;
    line-height: 40px;     
    font-size: 15px;    
    margin: 0 5px;            
}

.submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 440px;
}
@media screen and (min-width:300px) and (max-width:425.97px) {
    .submit {
        width: 70%;
        margin-bottom: 10px;
       
    }
}

@media screen and (min-width:300px) and (max-width:425.97px) {
    .pt {
        margin-bottom: 5px;
       
    }
}
@media screen and (min-width:425.98px) and (max-width:776.98px) {
    .submit {
        width: 100%;
        margin-bottom: 10px;
       
    }
}

.AN:hover {
    background: #1d7ad9;
    color: #fff;
}


.schedule {
    width: 76%;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 3%;
}
.end {
    display: flex;
}

.one {
    border-top: 5px solid #cccccc;
    width: 110px;
    color: #cccccc;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: relative;
}
@media screen and (min-width:575.98px) and (max-width:767.98px) {
    .one {
        width: 80px;
        font-size: 10px;
    }
}


@media  (min-width:1399.98px) {
    .submit {
        width: 56%;
        
    }
}

@media  (min-width:1399.98px) {
    .one {
        width: 170px;
        font-size: 16px;
    }
}
@media screen and (min-width:300.98px) and (max-width:575.96px) {
    .one {
        width: 70px;
        font-size: 9px;
    }
}




.one:hover {
    border-color: #ff7f02;
}
.one:hover .circle {
    background: #ff7f02;
}
.one:hover .bs {
    color: #ff7f02;
}
.circle {
    width: 19px;
    height: 19px;
    border-radius: 100%;
    background: #cccccc;
    position: absolute;
    top: -12px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle span {
    color: #fff;
    font-size: 10px;
    
}


.caption {
    width: 76%;
    margin: 0 auto;
    margin-top: 5%;
}
.caption p {
    font-size: 20px;
    border-left: 5px solid #1d7ad9;
    padding-left: 5px;
}

@media (max-width:576px) {
 .caption p {
     font-size: 15px;
 }
}

.content {
    width: 76%;
    margin: 0 auto;
    border: 1px solid #e8e8e8;
    margin-bottom: 5%;
}

.r1 {
    background: #f3f3f3;
    font-size: 15px;
    color: #1d7ad9;
    line-height: 38px;
}
.r1 img {
    width: 15px;
    height: 12px;
    padding-left: 10px;
}

.r2 {
    background: #fbfcff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width:320px) and (max-width:670.97px) {
    .ls {
        padding-bottom: 20px;
    }
}
@media screen and (min-width:670.98px) and (max-width:766.97px) {
    .ls {
        padding-bottom: 20px;
    }
}

.rs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
    width: 60%;
}
.rs1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
    width: 60%;
}

@media  screen and (min-width:320.98px) and (max-width: 575.97px) {

    .rs {
        width: 51%;
        padding-right: 10px;
    }
    }
    @media  screen and (min-width:320px) and (max-width: 427.97px) {

        .xs {
            width: 100%;
        }
        }

.xz {
    position: relative;
    color: #666666;
}

.xz input {
    display: none;
}


label {
    display: flex;
    position: relative;
    
}

.bp:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 1px solid #ddd;
    position:relative;
    margin-right: 10px;
}

.bp:after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    margin-top: -2.5px;
    left: 6px;
}


.xz input[type="radio"]:checked+.bp:after {
    background: #fff;
}
.xz input[type="radio"]:checked+.bp:before {
    background: #1d7ad9;
}


.an3 {
    display: flex;
    align-items: center;
    line-height: 80px;
}



.form {
    position: relative;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
}

@media  (max-width:320.98px) {
    .e1 {
        top: -42px;
    }
}

@media screen and (min-width:321px) and (max-width:407.99px) {
    .e1 {
        top: -38px;
    }
}
@media screen and (min-width:408px) and (max-width:575.97px) {
    .e1 {
        top: -18px;
    }
}

@media  (max-width:320.98px) {
    .hh {
        top: -37px;
    }
}

@media  (max-width:575.98px) {
    .an3 {
        line-height: 40px;
    }
}

@media  (max-width:512px) {
    .an4 {
        line-height: 40px;
    }
}
@media screen and (min-width:320.99px) and (max-width:422px) {
    .hh {
        top: -57px;
    }
}

@media screen and (min-width:423px) and (max-width:500px) {
    .hh {
        top: -55px;
    }
}

@media screen and (min-width:500.1px) and (max-width:668px) {
    .hh {
        top: -55px;
    }
}

@media screen and (min-width:668.1px) and (max-width:670.97px) {
    .hh {
        top: 17px;
    }
}

@media screen and (min-width:670.98px) and (max-width:766.97px) {
    .hh {
        top: 39px;
    }
}
@media  (max-width:992.1px) {
    .an4 {
        font-size: 12px;
    }
}


@media  (max-width:992.1px) {
    .ys {
        width: 117px;
    }
}
@media screen and (min-width:300.98px) and (max-width:513.97px) {
    .form1 {
        top: -56px;
    }
}
@media screen and (min-width:513.98px) and (max-width:575.97px) {
    .form1 {
        top: -16px;
    }
}

@media screen and (min-width:575.98px) and (max-width:964.97px) {
    .form1 {
        top: -40px;
    }
}
@media screen and (min-width:964.98px) and (max-width:1500.97px) {
    .form1 {
        top: -40px;
    }
}

 .form select {
    border: 1px solid #e8e8e8;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    width: 100px;
    line-height: 30px; 
    padding-left: 10px;
    font-size: 12px;
    color: #999999;
 }
.form img {
    position: absolute;
    width: 20px;
    height: 20px;
    pointer-events: none;
    left: 74px;
    top: 5px;
}
 

select::-ms-expand { display: none; }

.up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    width: 70%;
    flex-wrap: wrap;
}



@media screen and (min-width:320.98px) and (max-width:671.97px) {
    .lo {
        width: 100%; 
    }
}
@media screen and (min-width:670.98px) and (max-width:767.98px) {
    .lo {
        width: 100%; 
    }
}

@media screen and (min-width:320.98px) and (max-width:670.98px) {
    .ap {
        line-height: 35px;
    }
}
@media screen and (min-width:320.98px) and (max-width:669.97px) {
    .up {
        width: 32%; 
    }
}
@media screen and (min-width:670.98px) and (max-width:767.98px) {
    .up {
        width: 66%; 
    }
}
@media screen and (min-width: 767.98px) and (max-width:991.98px) {
    .up {
       width: 72%; 
    }
}
.import {
    width: 50px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #ddd;
}

.text {
    color: #666666;
    display: flex;
    padding-bottom: 5px;
}

.r7 {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    margin-bottom: 8%;
}
.tj {
    color: #fff;
     background: #e15053;
     border: 0;
     border-radius: 3px;
     width: 120px;
     height: 36px;
    font-size: 18px;
    display: inline-block;
}



.footer {
    background:#f9f9f9;
    padding: 3% 0;
}
.yw {
    width: 76%;
    margin: 0 auto;
    justify-content: space-between;
}
.top{
    font-size: 17px;
    color: #999999;
}
@media screen and (min-width: 320px) and (max-width:991.98px) {
    .top {
        margin-bottom: 20px;
        display: inline-block;
    }
}
@media screen and (min-width: 992px) and (max-width:1400px) {
    .top {
        margin-top: 7px;
        display: inline-block;
    }
}
.block1 {
    width: 220px;
    display: flex;
    flex-direction: column;
}
.contact-way {
    display: flex;
    justify-content: space-between;
}

.contact-way span {
    font-size: 13px;
    color: #999999;
    line-height: 31px;
}
.tm {
    opacity: 0;
}
.tel {
    display: flex;
}
.qq {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.qq span {
    font-size: 13px;
    color: #999999;
    line-height: 31px;
}

.over {
    text-align: center;
}

.over span {
    font-size:11px;
    color: #fff;
    line-height: 31px;
    margin: 0 auto;
}
@media screen and (min-width: 320.98px) and (max-width:767.98px) {
    .over span {
       font-size: 9px; 
    }
}

