body {
  margin: 0;
}

.header {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}

.header span {
  color: #26a26f;
  font-size: 13px;
}

.header img {
  width: 90px;
  padding-right: 3.2%;
}

.nav {
  background: #26a26f;
  position: relative;
}

.nav .nav-width {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav .nav-width input {
  display: none;
}

.nav .nav-width .nav-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

ul {
  list-style-type: none;
  display: flex;
  color: #fff;
  padding: 17px 0;
}

ul li {
  flex-basis: 25%;
  text-align: center;
  font-size: 18px;
}

@media (min-width: 768px) {
  ul li:hover {
    height: 54px;
    border-bottom: 3px solid #fff;
  }
}

@media screen and (min-width: 320px) and (max-width: 575.98px) {
  .footer {
    font-size: 12px;
  }
  .subordinate p {
    margin-bottom: 3px;
  }
  .subordinate-1 {
    line-height: 30px !important;
    width: 170px !important;
  }
  .contact {
    width: 100%;
    height: 60px !important;
    padding-bottom: 10px;
  }
  .wx {
    font-size: 10px;
  }
  .wx img {
    width: 60px;
  }
  .footer-end span {
    font-size: 9px !important;
    line-height: 17px !important;
  }
  .header span {
    font-size: 10px;
  }
  .header img {
    width: 79px;
    padding-right: 0;
  }
  .nav-text {
    height: 142px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .header img {
    padding-right: 0;
  }
  .an:before {
    width: 30px !important;
    height: 27px !important;
  }
  .nav-img img {
    width: 70px;
  }
  ul {
    line-height: 30px !important;
  }
  ul li {
    font-size: 15px !important;
  }
  .button {
    width: 30px !important;
    height: 27px !important;
  }
  .synopsis {
    flex-wrap: wrap;
  }
  .left {
    flex-basis: 100% !important;
  }
  .block {
    overflow: auto;
    height: 150px !important;
  }
  .block::-webkit-scrollbar {
    display: none;
  }
  .right {
    flex-basis: 96.7% !important;
  }
  .an:before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background: black;
    position: absolute;
    top: 12px;
    right: 7%;
    opacity: 0;
  }
  .button {
    width: 40px;
    height: 40px;
    background: #47d197;
    border: 0;
    border-radius: 5px;
    outline: none;
    pointer-events: none;
  }
  .button > .iconfont {
    color: #33946b;
  }
  .nav-width {
    width: 100% !important;
  }
  .nav-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    display: none;
  }
  .nav-img {
    width: 86% !important;
    height: 50px;
    margin: 0 auto;
  }
  ul {
    flex-direction: column;
    width: 100%;
    padding-top: 0;
    line-height: 50px;
  }
  ul li:hover {
    background: teal;
  }
  #pull:checked ~ .nav-text {
    display: block;
  }
  .subordinate {
    padding-left: 0 !important;
  }
  .top-1 {
    flex-wrap: wrap;
  }
  .tds {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .img {
    padding-right: 0 !important;
  }
  .top-text {
    padding-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .button {
    display: none;
  }
  ul {
    list-style-type: none;
    display: flex;
    color: #fff;
    padding: 17px 0;
  }
  ul li {
    flex-basis: 25%;
    text-align: center;
    font-size: 18px;
  }
  .nav-text {
    width: 40%;
    height: 90px;
  }
}

.banner {
  width: 100%;
  height: 20vh;
  overflow: hidden;
  object-fit: cover;
}

.home {
  padding: 20px 0;
  width: 87%;
  margin: 0 auto;
}

.home span {
  color: #26a26f;
}

.synopsis {
  width: 87%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 17%;
}

.synopsis .left {
  flex-basis: 19%;
  border: 1px solid #ededed;
  margin-right: 3%;
  background: #fff;
  height: 55%;
}

.synopsis .left .left-1 {
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  justify-content: center;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-1 {
  width: 98px;
  line-height: 50px;
  padding-left: 30px;
}

.block-1 .circle {
  width: 8px;
  height: 8px;
  border: 1px solid #ffa979;
  border-radius: 100%;
  display: inline-block;
}

.block-1 span {
  font-size: 13px;
  color: #26a26f;
}

.block-1:active .circle {
  background: #ffa979;
}

.block-1:active span {
  color: #ffa979;
}

.right {
  flex-basis: 78%;
  border: 1px solid #ededed;
  font-size: 13px;
  color: #999999;
  background: #fff;
}

.top {
  border-bottom: 1px solid #ededed;
}

.top .top-1 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  line-height: 24px;
  padding: 10px 0;
}

.top .img {
  padding-right: 30px;
}

.top-2 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-indent: 20px;
  line-height: 24px;
  padding-top: 20px;
  word-break: break-all;
}

@media (min-width: 1200px) {
  .subordinate {
    padding-right: 20% !important;
  }
}

.footer {
  background: #26a26f;
}

.footer > .footer-box {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  padding: 15px 0;
}

.footer > .footer-box > .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 155px;
  padding-right: 30px;
}

.footer .subordinate {
  padding-left: 22px;
  padding-right: 17px;
}

.footer .subordinate .subordinate-1 {
  display: flex;
  justify-content: space-between;
  width: 220px;
  line-height: 50px;
}

.footer .subordinate .subordinate-2 {
  display: flex;
  flex-direction: column;
}

.wx {
  display: flex;
  flex-direction: column;
}

.wx img {
  padding-top: 5px;
}

.footer-end {
  border-top: 1px solid #fff;
  color: #fff;
}

.footer-end span {
  font-size: 12px;
  display: block;
  text-align: center;
  line-height: 30px;
  word-break: break-all;
  padding: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

.bq:hover {
  text-decoration: underline;
}
