body {
  margin: 0;
}

.header {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 30px;
}

.header span {
  color: #26a26f;
  font-size: 13px;
}

.header img {
  width: 90px;
  padding-right: 3.3%;
}

.nav {
  background: #26a26f;
  position: relative;
}

.nav .nav-width {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav .nav-width input {
  display: none;
}

.nav .nav-width .nav-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.nav-link {
  list-style-type: none;
  display: flex;
  color: #fff;
  padding: 17px 0;
  text-align: center;
}

.nav-link .link-text {
  text-align: center;
  font-size: 18px;
}

@media (min-width: 768px) {
  li:hover {
    height: 54px;
    border-bottom: 3px solid #fff;
  }
}

@media screen and (min-width: 320px) and (max-width: 576.98px) {
  .footer {
    font-size: 12px;
  }
  .subordinate p {
    margin-bottom: 3px;
  }
  .subordinate-1 {
    line-height: 30px !important;
    width: 170px !important;
  }
  .contact {
    width: 100%;
    height: 60px !important;
    padding-bottom: 10px;
  }
  .wx {
    font-size: 10px;
  }
  .wx img {
    width: 60px;
  }
  .footer-end span {
    font-size: 9px !important;
    line-height: 17px !important;
    padding: 0 10px;
  }
  .header span {
    font-size: 10px;
  }
  .header img {
    width: 79px;
    padding-right: 0;
  }
  .nav-link {
    height: 94px;
  }
  .nav-link {
    line-height: 30px !important;
  }
  .nav-link .link-text {
    font-size: 15px !important;
  }
  .list-1 {
    flex-basis: 100% !important;
  }
}

@media screen and (min-width: 576.98px) and (max-width: 992.98px) {
  .tx {
    width: 94px !important;
  }
  .list-1 {
    flex-basis: 49% !important;
    font-size: 9px !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .header img {
    padding-right: 0;
  }
  .an:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 27px;
    background: black;
    position: absolute;
    top: 20px;
    right: 7%;
    opacity: 0;
  }
  .nav-img img {
    width: 70px;
  }
  ul {
    line-height: 30px !important;
  }
  ul li {
    font-size: 15px !important;
  }
  .button {
    width: 30px;
    height: 27px;
    background: #47d197;
    border: 0;
    border-radius: 5px;
    outline: none;
    pointer-events: none;
  }
  .button > .iconfont {
    color: #33946b;
  }
  .nav-width {
    width: 100% !important;
  }
  .nav-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
  .nav-img {
    width: 86% !important;
    height: 50px;
    margin: 0 auto;
  }
  .nav-link {
    flex-direction: column;
    width: 100%;
    padding-top: 0;
    line-height: 50px;
    display: none;
  }
  li:hover {
    background: teal;
  }
  #pull:checked ~ .nav-link {
    display: block;
  }
  .subordinate {
    padding-left: 0 !important;
  }
}

@media (min-width: 1200px) {
  .subordinate {
    padding-right: 20% !important;
  }
}

@media (min-width: 768px) {
  .button {
    display: none;
  }
  .nav-link {
    display: flex;
    color: #fff;
    padding: 17px 0;
  }
  .nav-link .link-text {
    flex-basis: 25%;
    text-align: center;
    font-size: 18px;
  }
  .nav-text {
    width: 40%;
    height: 90px;
  }
}

@media (min-width: 768px) {
  .button {
    display: none;
  }
  ul {
    list-style-type: none;
    display: flex;
    color: #fff;
    padding: 17px 0;
  }
  ul li {
    flex-basis: 25%;
    text-align: center;
    font-size: 18px;
  }
  .nav-text {
    width: 40%;
    height: 90px;
  }
}

.headline, .skip {
  width: 86%;
  margin: 0 auto;
  line-height: 60px;
  border-bottom: 1px solid #d0d6d9;
}

.headline span, .skip span {
  color: #26a26f;
}

.skip {
  display: flex;
}

.skip > span {
  color: #999999;
  font-size: 13px;
}

.skip > .skip-width {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
}

.skip > .skip-width span {
  font-size: 13px;
  color: black;
}

a:hover {
  background: #26a26f;
  padding: 5px  0;
  border-radius: 3px;
  color: #fff !important;
}

.dd {
  width: 86%;
  margin: 0 auto;
  border-bottom: 1px solid #d0d6d9;
}

.dd span {
  line-height: 100px;
  font-weight: bold;
}

.list {
  width: 86%;
  margin: 0 auto;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list:after {
  content: "";
  display: block;
  width: 32%;
}

.list .list-1 {
  flex-basis: 32%;
  font-size: 12px;
  word-break: break-all;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.ios {
  background: black;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  opacity: 0.8;
  color: #fff;
  left: -100%;
  top: 0;
  transition: 1s;
}

.ios h3 {
  text-align: center;
  font-size: 19px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.ios .zt {
  font-size: 17px;
  word-break: break-all;
  text-indent: 24px;
  width: 80%;
  margin: 0 auto;
}

.list-1:hover .ios {
  left: 0;
  top: 0;
  transition: 1s;
}

table {
  padding: 10px;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

table .tx {
  padding-right: 10px;
  float: left;
}

table td {
  border: 1px solid #d0d6d9;
  padding: 10px;
}

table td p {
  font-size: 15px;
  margin-top: 10px;
}

table .red {
  color: #f01400;
}

table .star {
  width: 15px;
  margin-left: 10px;
  vertical-align: text-top;
}

table .gray {
  color: #999999;
}

table .none {
  border-right: 0;
}

table .none-1 {
  border-left: 0;
  text-align: end;
}

.footer {
  background: #26a26f;
  margin-top: 10%;
}

.footer > .footer-box {
  margin: 0 auto;
  width: 86%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  padding: 15px 0;
}

.footer > .footer-box > .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 155px;
}

.footer .subordinate {
  padding-left: 22px;
  padding-right: 17px;
}

.footer .subordinate .subordinate-1 {
  display: flex;
  justify-content: space-between;
  width: 220px;
  line-height: 50px;
}

.footer .subordinate .subordinate-2 {
  display: flex;
  flex-direction: column;
}

.wx {
  display: flex;
  flex-direction: column;
}

.wx img {
  padding-top: 5px;
}

.footer-end {
  border-top: 1px solid #fff;
  color: #fff;
}

.footer-end span {
  font-size: 12px;
  display: block;
  text-align: center;
  line-height: 30px;
  word-break: break-all;
}

a {
  color: #fff;
  text-decoration: none;
}

.bq:hover {
  text-decoration: underline;
}
