body {
  margin: 0;
}

.nav {
  background: #29b078;
}

.nav > .nav-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.nav > .nav-navigation > .nav-box {
  display: flex;
  width: 38%;
}

.nav > .nav-navigation > .nav-box > .nav-text {
  flex-basis: 25%;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-size: 20px;
}
