body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 768px;
}

$background-color: #29bde0;
$color: #fcbd4e;
$color-f: #fff;

.wrap {
    background: $background;
    padding-bottom: 1%;

    >.hot {
        padding: 2%;
        background: $color-f;
    }
}

.header {
    width: 100%;
    height: 60px;
    margin-bottom: 1.5%;
    background: $background-color;
    display: flex;
    align-items: center;

    >img {
        width: 20px;
        height: 30px;
        padding: 2%;
    }
}
