body {
  margin: 0;
  background: #29bde0;
}

.hot {
  padding: 10px;
  background: #fff;
}

.header {
  width: 100%;
  height: 60px;
  background: #29bde0;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 27px;
  color: #fff;
}

.header > img {
  width: 23px;
  height: 25px;
  padding: 2%;
}

.status {
  position: relative;
  padding-bottom: 30%;
  margin-top: 90px;
}

.status .number {
  width: 50px;
  height: 50px;
  position: absolute;
  background: #fff;
  border: 1px solid #ffedc5;
  border-radius: 100%;
  left: calc(50% - 25px);
  top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 20px;
  color: #f56b81;
}

.status > .content {
  width: 72%;
  height: 400px;
  margin: 0 auto;
  position: absolute;
  background: #ffedc5;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(50% - 36.5%);
}

.status > .content .photo {
  display: flex;
  justify-content: center;
}

.status > .content .photo img {
  width: 160px;
}

.status > .button {
  width: 70%;
  position: fixed;
  bottom: 3%;
  left: calc(50% - 35%);
  font-size: 25px;
  padding: 10px 0;
  color: #fff;
  background: #fcbd4e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.status > .button > input {
  width: 100%;
  height: 20px;
  border: none;
  outline: none;
  font-size: 23px;
  color: #fff;
  text-align: center;
  padding-top: 7px;
  background: #fcbd4e;
}

.status > .button input::-webkit-input-placeholder {
  color: #fff;
}

.contents {
  width: 72%;
  height: 400px;
  margin-left: calc(50% - 36.5%);
  background: #ffedc5;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contents .photo-2 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.contents .photo-2 img {
  width: 70%;
}

.contents .result-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  color: #f56b81;
  padding: 2% 0;
}

.contents .result-1 > .name {
  width: 50px;
  height: 26px;
  font-size: 24px;
  color: #29bde0;
  border: none;
  outline: none;
  background: #ffedc5;
  margin-top: 20px;
}

.warn {
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid #fff;
  text-align: center;
}

.warn p {
  padding: 0 20px;
  font-size: 17px;
  color: #fcbd4e;
}

.buttons {
  width: 70%;
  position: fixed;
  bottom: 3%;
  left: calc(50% - 35%);
  font-size: 25px;
  padding: 10px 0;
  color: #fff;
  background: #fcbd4e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons > input {
  width: 100%;
  height: 20px;
  border: none;
  outline: none;
  font-size: 23px;
  color: #fff;
  text-align: center;
  padding-top: 7px;
  background: #fcbd4e;
}

.buttons input::-webkit-input-placeholder {
  color: #fff;
}
