body {
  margin: 0;
}

.box-top {
  background: #29bde0;
}

.header {
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
  border-bottom: 1px solid #74d4eb;
  color: #fff;
  font-size: 20px;
}

.header > img {
  width: 30px;
}

.result {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result .end {
  position: absolute;
  top: 148px;
  font-size: 24px;
  color: #fff;
}

.result > img {
  width: 250px;
  padding: 20px 0;
}

.result > span {
  color: #ffc865;
  font-size: 20px;
  text-align: center;
  text-align-last: left;
}

.result-1 {
  width: 80%;
  font-size: 18px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  line-height: 28px;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
}

.result-1 .none {
  opacity: 0;
}

.coat {
  padding-bottom: 30%;
  line-height: 30px;
}

.box-bottom {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #a6a6a6;
  font-size: 17px;
}

.box-bottom .box-bottom-1 {
  padding-top: 10px;
  padding-bottom: 20px;
}

.box-bottom .box-bottom-1 > .black {
  color: black;
  font-size: 20px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100px;
  background: #29bde0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(103, 199, 243, 0.5);
}

.footer > .button-1, .footer .button-2 {
  background: #fbb435;
  border: 0;
  color: #fff;
  width: 45%;
  height: 70px;
  border-radius: 10px;
  font-size: 26px;
  outline: none;
  margin: 0 10px;
}

.footer > .button-1 {
  background: #f66f6f;
}
