body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 768px;
}

$background: #29bde0;
$block-top: #f5c97b;
$block-bottom: #83b09a;

.box {
    background:$background;
    height: 100vh;
}
.header {
    width: 94%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 15px 0;
    color: #fff;
    font-size: 18px;
 img {
     width: 24px;
     height: 24px;
 }

}
.hint {
   background: #b9e9f5;
   line-height: 50px;
   display: flex;
   align-items: center;
   padding-left: 34px;
   font-size: 17px;
   position: relative;
   >.MP3 {                                       /* 设置播放器大小和位置/绝对定位 */
    width: 90px;
    height: 28px; 
    position: absolute;
    right: 4px;
    background-color:#b9e9f5;
    opacity:0;
    transform:rotate(179deg); 
}
>.play {                                       /* 设置播放器logo大小和位置/绝对定位 */
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    z-index: 99999;
    pointer-events:none;  
}
.triangle {                                           /* 三角形 */
    width: 0; 
    height: 0;
    margin-left: 34px;
    margin-bottom: -7px;
    margin-top: -1px;
    border-width: 10px 7px;
    border-style: solid;
    border-color:#b9e9f5 transparent transparent transparent;
    position: absolute;
    top: 51px;
}

}

.hint-1 {
 color: #fff;
 font-size: 13px;
 line-height: 50px;
 padding-left: 70px;
}

.block {
  width: 94%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
   >.block-1 {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .block-2 {
    margin: 0 auto;
    width: 88px;
    border: 3px solid #fff;
    >.top {
        height: 64px;
        background: $block-top;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
    }
    >.bottom {
        height: 24px;
        background: $block-bottom;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: #fff;
    }
}

}
.block-3 {
    width: 92px;
    margin: 15px 0;
    height: 19px;
>.combination {
    width: 92px;
    height: 19px;
    display: none;
    
}
}

.block-1:hover .combination {
    display: block;
}

.footer {
    position: fixed;
    z-index: 99999;
    max-width: 768px;
    min-width: 320px;
    width: 100%;
    height: 60px;
    bottom: 0;
    background: #29bde0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    background-color: transparent;
    color:#ffffff;
    font-size: 17px;                                          
    width: 245px;
    height: 43.5px;
    background: #fbb435;
    border: 0;
    
}