body {
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
}

.box {
  background: #f0f0f0;
  padding-bottom: 40px;
  position: relative;
}

.box > .header {
  background: #29bde0;
  height: 60px;
  display: flex;
  align-items: center;
}

.box-1 {
  width: 92%;
  margin: 0 auto;
}

.box-1 > .block-1 {
  height: 70px;
  border: 1px solid #c9c9c9;
  background: #fff;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a7a7a7;
  font-size: 24px;
}

.box-1 > .block-1 span {
  padding-left: 15px;
}

.box-1 > .block-1 img {
  margin-right: 15px;
}

.box-1 > .box-2 {
  border: 1px solid #c9c9c9;
  margin-top: 24px;
  background: #fff;
}

.box-1 > .box-2 > .block-2 {
  height: 70px;
  border-bottom: 1px solid #fbb435;
  color: #fbb435;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-3 {
  display: flex;
  flex-direction: column;
}

.box-3 > .block-3 {
  width: 80%;
  background: #29bde0;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  margin: 0 auto;
  margin-top: 24px;
}

.box-3 > .block-3:hover {
  background: #fbb435;
  font-size: 30px;
}

.box-3 > span {
  color: #a7a7a7;
  font-size: 16px;
  text-align: center;
  padding-top: 24px;
}

.box-3 > .box-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.box-3 > .box-4 > .block-4 {
  width: 80%;
  background: #29bde0;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  margin-left: 28px;
}

.box-3 > .box-4 > .block-4:hover {
  background: #f66f6f;
  font-size: 40px;
}

.box-3 > .box-4 img {
  width: 21px;
  height: 50px;
  padding-left: 10px;
}

.dot {
  display: flex;
  justify-content: center;
}

.dot li {
  font-size: 30px;
  margin-right: -24px;
  margin-top: -7px;
  color: #c9c9c9;
}

.dot li:hover {
  color: #29bde0;
}

.pog:hover .list {
  left: 0%;
}

.select {
  padding-left: 20px;
}

.list {
  color: #29bde0;
  position: absolute;
  z-index: 999;
  background: #fff;
  opacity: 1;
  top: 0;
  left: -75%;
  transition: left 1s;
}

.list-1 {
  width: 200px;
  height: 50px;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notice {
  width: 24px;
  height: 23.6px;
  border-radius: 100%;
  border: 1px solid #29bde0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  display: flex;
  align-items: center;
}

.text {
  padding-left: 15px;
}

.text-1 {
  padding-right: 20px;
  font-size: 26px;
}

.lo {
  font-size: 26px;
}

a {
  color: #fff;
  text-decoration: none;
}
