body {
  margin: 0 auto;
}

.wrap {
  width: 100%;
}

.wrap > .block {
  background: #ffa500;
  border-radius: 3%;
  float: left;
  margin: 1%;
  padding-bottom: 31.3%;
  width: 31.3%;
}

.wrap button {
  background: #fff;
  border: 1px solid #ffa500;
  color: #ffa500;
  width: 100%;
  margin-top: 1%;
  height: 30px;
  outline: none;
}

.wrap button:hover {
  background: #ffa500;
  color: #fff;
}
